button {
    background: #e8a4c9;
    border:none;
    color: #fff;
    display:block;
    font-weight: bold;
    margin-left:auto;
    margin-right:auto;
    margin-top:22%;
    margin-bottom:0%;
    padding: 30px 30px;
    text-align: center;
}

.close {
    color: #fff;
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    right: 30px;
    top: 34px;
}

.overlay {
    background: rgba(149, 149, 149, 0.8);
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
}

.popup {
    height: 80%;
    margin: 0 auto;
    max-width: 800px;
    max-height: 600px;
    padding: 20px;
    position: relative;
    width: 80%;
}

.trigger{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.box {
    border-radius: 5px;
    color: #fff;
    font-size: 150%;
    padding: 20px;
}

.box .box {
    background-color: #fff;
    border-radius: 0;
}

.pastries {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.cupcake {
    background: white url(../img/024-cupcake.png);
    grid-column: 1;
    grid-row:  1;
}

.cheeseCake {
    background: white url(../img/014-cake.png);
    grid-column: 2;
    grid-row: 1;
}

.cookies {
    background: white url(../img/028-cookie.png);
    grid-column: 1;
    grid-row: 2;
}

.caramel {
    background: white url(../img/034-honey.png);
    grid-column: 2;
    grid-row: 2;
}

.chocolate {
    background: white url(../img/029-chocolate-bar.png);
    grid-column: 1;
    grid-row: 3;
}

.applePie {
    background: white url(../img/007-pie.png);
    grid-column: 2;
    grid-row: 3;
}

.peanutButterCups {
    background: white url(../img/017-cracker.png);
    grid-column: 1;
    grid-row: 4;
}

.doughnut {
    background: white url(../img/035-doughnut.png);
    grid-column: 2;
    grid-row: 4;
}

.iceCream {
    background: white url(../img/030-ice-cream.png);
    grid-column: 1;
    grid-row: 5;
}

.croissant {
    background: white url(../img/023-croissant.png);
    grid-column: 2;
    grid-row: 5;
}

.box .cupcake,
.cheeseCake,
.cookies,
.caramel,
.chocolate,
.applePie,
.peanutButterCups,
.doughnut,
.iceCream,
.croissant {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    height: 50px;
}

.box {
    background-color: #fff;
    color: #e8a4c9;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
}

.textInfo h2 {
    margin:0;
}

.innerText {
    margin: 10px;
}

#pastries:hover + #textInfo .innerText-cupCake {
    display: block;
}

.innerText {
    display: none;
}

h2 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 10px;
}

p {
    font-weight: 400;
    line-height: 1.6;
}

.textInfo:hover {
    background-color: #e8a4c9;
    color: #fff;
}

.item:hover {
    background-color: #e8a4c9;
}

.pastries {
    background-color: #fff0;
    color: #e8a4c9;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
}

.textInfo {
    background-color: #fff;
    color: #e8a4c9;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 10px;
    padding: 10px;
}

@media (max-width: 720px) {
  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  .overlay {
    height: ;
}

  .textInfo {
    grid-column: 1 / 5;
    grid-row: row 2;
    height: 400px;
  }

  .pastries{
      background-color: #fff0;
      grid-template-columns: repeat(5, 1fr);
      grid-column: 1 / 5;
      grid-row: row 1;
      display: grid;
      grid-gap: 10px;
  }

  .cupcake {
    background: white url(../img/024-cupcake.png);
    grid-column: 1;
    grid-row:  1;
  }

  .cheeseCake {
    background: white url(../img/014-cake.png);
    grid-column: 2;
    grid-row: 1;
  }

  .cookies {
    background: white url(../img/028-cookie.png);
    grid-column: 3;
    grid-row: 1;
  }

  .caramel {
    background: white url(../img/034-honey.png);
    grid-column: 4;
    grid-row: 1;
  }

  .chocolate {
    background: white url(../img/029-chocolate-bar.png);
    grid-column: 5;
    grid-row: 1;
  }

  .applePie {
    background: white url(../img/007-pie.png);
    grid-column: 1;
    grid-row: 2;
  }

  .peanutButterCups {
    background: white url(../img/017-cracker.png);
    grid-column: 2;
    grid-row: 2;
  }

  .doughnut {
    background: white url(../img/035-doughnut.png);
    grid-column: 3;
    grid-row: 2;
  }

  .iceCream {
    background: white url(../img/030-ice-cream.png);
    grid-column: 4;
    grid-row: 2;
  }

  .croissant {
    background: white url(../img/023-croissant.png);
    grid-column: 5;
    grid-row: 2;
  }

  .box .cupcake,
  .cheeseCake,
  .cookies,
  .caramel,
  .chocolate,
  .applePie,
  .peanutButterCups,
  .doughnut,
  .iceCream,
  .croissant {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35px;
    height: 30px;
  }

  .innerText {
    font-size: 14px;
    padding: 5px;
}

}